.form-edit {
	display: none;
	width: calc(100% - 40px);
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.form-edit h1 {
	padding: 5px;
	height: 40px;
	background-color: #ccc;
}

.form-edit .container-inputs {
	background-color: #eee;
	padding: 20px;
}

.form-edit .container-inputs .inputs-line {
	clear: left;
	width: calc(100% - 20px);
	height: 25px;
	margin-left: 10px;
	margin-top: 10px;
}

.form-edit .container-inputs .inputs-line .input-label {
	float: left;
	text-align: right;
	width: 100px;
}

.form-edit .container-inputs .inputs-line .input-item {
	float: left;
	margin-left: 5px;
	width: 200px;
}

.form-edit .container-inputs .inputs-line #input-item-question-text,
.form-edit .container-inputs .inputs-line .input-item-question-answer {
	width: 400px;
}

.form-edit .container-inputs .inputs-line .input-item input, 
.form-edit .container-inputs .inputs-line .input-item select {
	width: 190px;
}

.form-edit .container-inputs .inputs-line .input-item input#input-question-text,
.form-edit .container-inputs .inputs-line .input-item input.input-question-answer {
	width: 390px;
}

.form-edit .container-inputs textarea {
	height: 200px;
	width: calc(100% - 40px);
}

.form-edit .container-button {
	background-color: #eee;
	padding: 20px;
}

.form-edit .container-button button {
	width: 100px;
}

.list {
	float: left;
	width: calc(50% - 30px);
	margin-left: 20px;
	margin-top: 20px;
}

.list h1 {
	padding: 5px;
	height: 40px;
	background-color: #ccc;
}

.list h1 button {
	float: right;
	width: 150px;
	margin-top: 10px;
	margin-left: 10px;
}

.list .container-table {
	width: 100%;
	margin-top: 20px;
	height: calc(100% - 150px);
	overflow: auto;
}

.list .container-table table {
	width: 95%;
	border-spacing: 1px;
}

.list .container-table table thead th {
	font-size: 18px;
	background-color: #ddd;
	padding: 3px;
}

.list .container-table table tbody td {
	padding: 3px;
	font-size: 14px;
}

#list-quizzes .container-table table thead th {
	width: 20%;
}

#list-quizzes .container-table table tbody td:nth-of-type(3n),
	#list-quizzes .container-table table tbody td:nth-of-type(4n),
	#list-quizzes .container-table table tbody td:nth-of-type(5n) {
	text-align: center;
}

#list-questions .container-table table thead th:nth-of-type(1n) {
	width: 30%;
}

#list-questions .container-table table thead th:nth-of-type(2n),
	#list-questions .container-table table thead th:nth-of-type(3n) {
	width: 25%;
}

#list-questions .container-table table thead th:nth-of-type(4n),
	#list-questions .container-table table thead th:nth-of-type(5n) {
	width: 10%;
}

.list .container-table table tbody tr:nth-child(odd) {
	background-color: #eee;
}

.list .container-table table tbody tr:nth-child(even) {
	background-color: #fff;
}

#list-questions .container-table table tbody td:nth-of-type(4n),
	#list-questions .container-table table tbody td:nth-of-type(5n) {
	text-align: center;
}