h1 {
	width: 100%;
	text-align: center;
	margin-top: 50px;
	font-size: 48px;
	font-weight: bold;
}

.container-button {
	float: left;
	margin-top: 50px;
	width: 500px;
	margin-left: calc(33% - 333px);
	text-align: center;
}

.container-button button {
	width: 300px;
	height: 100px;
	font-size: 32px;
	font-weight: bold;
	border: 5px solid #000;
}

#container-button-results-table {
	clear: left;
	margin-top: 200px;
	width: 100%;
	text-align: center;
	margin-left: 0;
}