#header {
	width: calc(100% - 40px);
	margin-left: 20px;
	margin-top: 20px;
}

#header h1 {
	padding: 5px;
	height: 40px;
	background-color: #ccc;
}

#header h1 select {
	float: right;
	width: 300px;
	margin-top: 10px;
	margin-left: 10px;
}

#header h1 button {
	float: right;
	width: 150px;
	margin-top: 10px;
	margin-left: 10px;
}

#quizz-player {
	display: none;
	background-color: #eee;
	width: calc(100% - 40px);
	margin-left: 20px;
	margin-top: 20px;
}

#quizz-player #quizz-questions .quizz-question {
	margin-bottom: 20px;
}

#quizz-player #quizz-questions .quizz-question .question-text {
	font-size: 18px;
	padding: 20px;
}

#quizz-player #quizz-questions .quizz-question .answer {
	clear: left;
	margin-bottom: 10px;
	padding: 5px;
	margin-left: 30px;
}

#quizz-player #quizz-questions .quizz-question .answer .answer-text {
	float: left;
	font-size: 14px;
	width: 200px;
}

#quizz-player #quizz-questions .quizz-question .answer .answer-input {
	float: left;
	width: 200px;
}

#quizz-player #quizz-questions .quizz-question .answer .answer-input input {
	width: 190px;
}

#quizz-player #container-button {
	padding: 20px;
}

#quizz-player #container-button button {
	width: 100px;
}