* {
	margin: 0;
	padding: 0;
	font-family: calibri, arial, helvetica;
}

h1 {
	font-size: 32px;
	font-weight: bold;
}

h2 {
	font-size: 24px;
	font-weight: bold;
}

input, button, select {
	font-size: 16px;
	height: 25px;
}

button {
	width: 55px;
	cursor: pointer;
}